.commentMainBody{
    background-color:white;
    margin: 2%;
}

.commentBody{
    display: flex;
    flex-direction: column;
    height: fit-content;
    border: 1px solid #242124;
    border-radius: 3px;
    width: 50%;
}

.sidebarUserButtonComment{
    background-color: white;
    border: none;
    border-radius: 100px;
    color: black;
    font-family: "Montserrat";
    font-size: 2vh;
    margin-left: 3vh;
}

.profilePlusComment{
    background-color: white;
    
    flex: 2;
    display: flex;
    align-items: center;
    /* border: 1px solid #242124; */
    font-family: "Montserrat";
    justify-content: flex-start;
    padding: 2%;
}

.userIconBodyComment{
    height: 3vh;
    width: 3vh;
    border-radius: 100px;
    /* margin: 5%; */
}

.commentText{
    font-family: "Montserrat";
    background-color: white;
    
    padding: 2%;
}

.commentInputBox{
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}

.replyButton{
    background-color: #283350;
    color: white;
    border: none;
    border-radius: 400vh;
    margin-left: 5%;
    

    width: 10vh;
    height: 5vh;

    box-shadow: .25vh .25vh .25vh .25vh #242124;

    transition: box-shadow;
    transition-duration: .5s;
    transition-timing-function: linear;
}

.replyButton:hover{
    box-shadow: .5vh .5vh .5vh .5vh #242124;
}

.commentReplyButton {
    height: 6vh;
    width: 6vh;
    border-radius: 100px;
    background-color: #283350;
    border: none;
  }
  
  .commentOptions {
    background-color: inherit;
    border: none;
    margin-left: auto;
  }

  .commentOptionsButton {
    background-color: inherit;
    border: none;
    margin-left: 0%;
  }

  .commentReplyButton{
    background-color: #283350;
    color: white;
    border: none;
    border-radius: 50px;
    margin-left: 2%;
    margin-right: 2%;
    height: 5vh;
    width: 15%;
    font-family: "Montserrat";

    box-shadow: .25vh .25vh .25vh .25vh #242124;

    transition: box-shadow;
    transition-duration: .5s;
    transition-timing-function: linear;
  }

  .commentReplyButton:hover{
    box-shadow: .5vh .5vh .5vh .5vh #242124;
  }
  .commentOptionItem{
    background-color: white;
      
      flex: 1;
      display: flex;
      
      border-radius: 200px;
      border-width: 1px;
      
      font-family: "Montserrat";
      justify-content: center;
      padding: 2%;
  
      width: 12vh;

      font-size: 5px;
  
      box-shadow: .1vh .1vh .1vh .1vh #242124;
  
      transition: background-color;
      transition-duration: .5s;
      transition-timing-function: linear;
  
      margin-bottom: 1vh;
  
      font-size: 2vh;
  }
  
  .commentOptionItem:hover{
    background-color: #283350;
    color: white;
  }
  
  