.communityBody{
    width: 100%;
    height:90vh;
    display: flex;
    margin-top: 5vh;
    background-color: white;
}

.communityLeftColumn{
    background-color: white;
    display: flex;
    flex: 1;
    height: fit-content;
}

.communityMainColumn{
    background-color: white;
    display: flex;
    flex-direction: column;
    flex: 2;
    height: fit-content;
    align-items: center;
}

.communityRightColumn{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.makePostButton{
    background-color: black;
    color: white;
}