.communityBody{
    width: 100%;
    height:90vh;
    display: flex;
    margin-top: 5vh;
    background-color: white;
}

.communityLeftColumn{
    background-color: white;
    display: flex;
    flex: 1;
    height: fit-content;
}

.communityMainColumn{
    background-color: white;
    display: flex;
    flex-direction: column;
    flex: 2;
    height: fit-content;
    
}

.communityRightColumn{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.makePostButton{
    background-color: #283350;
    color: white;
    border: none;
    border-radius: 400vh;

    width: 20vh;
    height: 10vh;
    margin-top: 10vh;

    box-shadow: 1vh 1vh 1vh 1vh #242124;

    transition: box-shadow;
    transition-duration: .5s;
    transition-timing-function: linear;
}

.makePostButton:hover{
    box-shadow: 2vh 2vh 2vh 2vh #242124;
}