.cryptoMainBody {
  background-color: aliceblue;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.cryptoBody {
  display: flex;
  margin-top: 2%;
}

.cryptoLeftColumn {
  display: flex;
  flex: 2;
  background-color: aliceblue;
}
.cryptoRightColumn {
  display: flex;
  flex: 5;
  background-color: aliceblue;
  flex-wrap: wrap;
}
