.navBarBody{
    background-color: white;
    display: flex;
    padding: 1vh;
    height: 8vh;
}

.mainBarBody{
    background-color: #283350;
    flex: 1.5;
    display: flex;
    border-radius: 100px;
    margin-right: .5%;
    align-items: center;
    justify-content: space-around;

    box-shadow: 0.5vh 0.5vh 0.5vh 0.5vh #242124;

    transition: box-shadow;
    transition-duration: .5s;
    transition-timing-function: linear;
}

.mainBarBody:hover{
    box-shadow: 0.75vh 0.75vh 0.75vh 0.75vh #242124;
}

.searchBarBody{
    border-radius: 100px;
    background-color: #283350;
    display: flex;
    flex: .6;
    margin-right: .5%;
    font-family: "Montserrat";
    padding-left: .5%;
    align-items: center;
    margin-left: .5%;
    

    box-shadow: 0.5vh 0.5vh 0.5vh 0.5vh #242124;

    transition: box-shadow;
    transition-duration: .5s;
    transition-timing-function: linear;
}

.searchBarBody:hover{
    box-shadow: 0.75vh 0.75vh 0.75vh 0.75vh #242124;
}

.profilePlusBody{
    background-color: #283350;
    border-radius: 100px;
    /* flex: .5; */
    display: flex;
    align-items: center;
    margin-left: .5%;
    width: fit-content;
    font-family: "Montserrat";
    justify-content: space-between;
    padding: 1%;

    box-shadow: 0.5vh 0.5vh 0.5vh 0.5vh #242124;

    transition: box-shadow;
    transition-duration: .5s;
    transition-timing-function: linear;
}

.profilePlusBody:hover{
    box-shadow: 0.75vh 0.75vh 0.75vh 0.75vh #242124;
}

.mainBarButton {
    background-color: #283350;
    border: none;
    border-radius: 100px;
    color: aliceblue;
    font-family: "Montserrat";
    font-size: 3vh;

    text-shadow: 0.2vh 0.2vh 0.5vh black; /* Adjusted values */
    
    transition: text-shadow 0.5s linear; /* Simplified transition syntax */
}

.mainBarButton:hover {
    color: white;
    text-shadow: 1vh 1vh 1vh #242124; /* Adjusted values */
    border: none;
}

.searchBarInput{
    border-radius: 200px;
    border-width: 1px;
    display: flex;
    border-color: black;
    height: 4vh;
    flex: 9;
    
    font-family: "Montserrat";
}

.searchBarInput::placeholder{
    font-family: "Montserrat";
}

.searchBarInput:focus{
    outline: none;
}

.searchButton{
    flex: 1;
    border-radius: 5vh;
    height: 5vh;
    width: 5vh;
    border: none;
    margin-top: 1%;
    background-color: #283350;
}

.logoutButton{
    flex: 1;
    /* border-radius: 5vh; */
    /* height: 5vh;
    width: 5vh; */
    border: none;
    
    background-color: #283350;
}

.userIconBody{
    height: 5vh;
    width: 5vh;
    border-radius: 100px;
    /* margin: 5%; */
}

.userButton{
    background-color: #283350;
    border: none;
    border-radius: 100px;
    color: aliceblue;
    font-family: "Montserrat";
    font-size: 2vh;

    text-shadow: 0.2vh 0.2vh 0.5vh black; /* Adjusted values */
    
    transition: text-shadow 0.5s linear; /* Simplified transition syntax */
}

.userButton:hover{
    color: white;
    text-shadow: 1vh 1vh 1vh #242124; /* Adjusted values */
    border: none;
    text-decoration: underline;
    font-weight: bold;
}

input{
    font-family: "Montserrat";    
}
