.postMainBody {
  width: 85vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-left: 2%;

  box-shadow: .75vh .75vh .75vh .75vh #242124;

  transition: box-shadow;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  margin-bottom: 4%;
}

.postMainBody:hover {
  box-shadow: 1vh 1vh 1vh 1vh #242124;
}

.postHeader {
  display: flex;
  align-items: center;
  height: 9vh;
  background-color: #283350;
  border-radius: 1px;
}


.postUserIcon {
  height: 5vh;
  width: 5vh;
  border-radius: 100px;
  margin: 1%;
}

.postUsernameButton {
  background-color: inherit;
  border: none;
  border-radius: 100px;
  color: white;
  font-family: "Montserrat";
  font-size: 2vh;
}

.postUsernameButton:hover {
  color: white;
  font-weight: bold;
  border: none;
}

.postBody {
  height: fit-content;
  background-color: aliceblue;
  border-radius: 1px;
}

.postFooter {
  height: 8vh;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 1px;
}

.postOptionsButton {
  background-color: inherit;
  border: none;
  margin-left: auto;
}

.postOptions {
  background-color: inherit;
  border: none;
  margin-left: auto;
}

.postCommentButton {
  height: 6vh;
  width: 6vh;
  border-radius: 100px;
  background-color: white;
  border: none;
}

.postImage {
  width: 100%;
  height: 60vh;
}

.postText {
  padding-left: 2%;
  padding-right: 2%;
  font-family: "Montserrat";
  font-size: 14px;
}

.postTag {
  background-color: #283350;
  border-radius: 100px;
  color: white;
  font-family: "Montserrat";
  margin: 1%;
}

.postOptionItem{
  background-color: white;
    
    flex: 1;
    display: flex;
    
    border-radius: 200px;
    border-width: 1px;
    
    font-family: "Montserrat";
    justify-content: center;
    padding: 1%;

    width: 12vh;

    box-shadow: .1vh .1vh .1vh .1vh #242124;

    transition: background-color;
    transition-duration: .5s;
    transition-timing-function: linear;

    margin-bottom: 1vh;

    font-size: 2vh;
}

.postOptionItem:hover{
  background-color: #283350;
  color: white;
}

.postOptionsBody{
  height: 5vh;
  margin-left: 2.8vh;
  margin-top: 1vh;
  background-color: white;
}

.imageButton{
  border-radius: 200px;
  width: 5vh;
  height: 5vh;
  background-color: white;
  border-width: 1px;
  margin: 2%;

  transition: background-color .2s linear;
}

.imageButton:hover{
  background-color: #283350;
  color: white;
}

.score{
  border: 1px solid #283350;
  border-radius: 200px;
  padding: 10px 20px;
  display: inline-block;
}