.replyMainBody{
    background-color:white;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.replyBody{
    display: flex;
    flex-direction: column;
    border: 1px solid #242124;
    flex: 2;
}

.replyButtonBody{
    display: flex;
    flex-direction: row;
}

.sidebarUserButtonreply{
    background-color: white;
    border: none;
    border-radius: 100px;
    color: black;
    font-family: "Montserrat";
    font-size: 2vh;
    margin-left: 3vh;
}

.profilePlusreply{
    background-color: white;
    
    flex: 1;
    display: flex;
    align-items: center;
    
    font-family: "Montserrat";
    justify-content: flex-start;
    padding: 2%;
}

.userIconBodyreply{
    height: 3vh;
    width: 3vh;
    border-radius: 100px;
    /* margin: 5%; */
}

.replyText{
    font-family: "Montserrat";
    background-color: white;
}
.replyInputBox{
    display: flex;
}

.replyOptions {
    background-color: inherit;
    border: none;
    margin-left: auto;
  }

  .replyOptionsButton {
    background-color: inherit;
    border: none;
    margin-left: 0%;
  }

  .replyCommentButton{
    background-color: #283350;
    color: white;
    border: none;
    border-radius: 400vh;
    margin-left: 5%;
    

    width: 10vh;
    height: 5vh;

    box-shadow: .25vh .25vh .25vh .25vh #242124;

    transition: box-shadow;
    transition-duration: .5s;
    transition-timing-function: linear;
}

.replyCommentButton:hover{
    box-shadow: .5vh .5vh .5vh .5vh #242124;
}
