
.usercardBody{
    background-color: #283350;
    border-radius: 100px;
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 10%;
    width: 40%;
    
    font-family: "Montserrat";
    justify-content: flex-start;
    padding: 1%;

    box-shadow: 1vh 1vh 1vh 1vh #242124;

    transition: box-shadow;
    transition-duration: .5s;
    transition-timing-function: linear;
}

.usercardBody:hover{
    box-shadow: 2vh 2vh 2vh 2vh #242124;
}