react icons

montserrat fonts

materialui
    npm install @mui/material @emotion/react @emotion/styled
    npm install @mui/x-charts
    npm install @mui/styled-engine-sc styled-components

recharts
    npm install recharts

date-fns
    npm install date-fns